*{
  box-sizing: border-box;
  font-family: 'Montserrat', Tahoma,  sans-serif;
}

body {
  background: linear-gradient(to bottom, #000000, #4a669c);
  color: #fff;
}

.hometitle{
  display: flex;
  justify-content: center;
  color: #fff
}
.app {
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.search-input {
  padding: 12px;
  background-color: #1e1e1e;
  border: 1px solid #ffff;;
  border-radius: 4px;
  color:#ffffff; 
  font-size: 16px;
}

.search-input::placeholder {
  color: #ffffffbc;
}

.search-button {
  padding: 12px 20px;
  background-color: rgb(194, 148, 24);
  color: #ffffff; ;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.search-button:hover {
  background-color: rgb(194, 148, 24, 0.3);
}


.loading,
.error {
  text-align: center;
  margin: 20px 0;
  padding: 20px;
  background-color: #1e1e1e;;
  border-radius: 8px;
}

.loading {
  color:#4a669c;
}

.error {
  color: #ff6b6b;
}

.no-results {
  text-align: center;
  margin: 20px 0;
  color:#fff;;
}

.album-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}


.album-card {
  text-decoration: none;
  background-color: #1e1e1e;;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s, background-color 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.album-card:hover {
  transform: translateY(-4px);
  background-color: #4a669c;
}

.album-cover {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
}


.album-title {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 0 0 5px 0;
}

.album-artist {
  font-size: 14px;
  color:  #fff;;
  text-align: center;
  margin: 0 0 5px 0;
}

.album-year {
  font-size: 12px;
  color: #fff;;
  text-align: center;
}


.song-detail {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #1e1e1e;;
  border-radius: 8px;
}
.album-description {
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #333;
}

.album-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.album-info h1 {
  font-size: 28px;
  color: #6be1ff;
  margin: 0 0 10px 0;
}

.album-info p {
  margin: 5px 0;
  color: #ffff;;
}

.album-info strong {
  color: #d2c944; ;
}

